{% extends 'base.html' %}
{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
<!--   write ur code here-->
<!--   with comments and nice indents-->
<div class="blog-slider">
<div class="row">
    <div class="col-md-6">
        <img src="/static/img/logind.png" alt="login" class="login-card-img">
    </div>
    <div class="col-md-6">
        <div class="card-body">
            <div class="brand-wrapper">
                <h4><a href="{% url 'home' %}">Back to Homepage</a></h4>
            </div>
            <p class="login-card-description">Sign in</p>

            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="col-sm-6 col-sm-6">
                    {{form.as_p}}
                    <input type="submit" value="Log-in" class="mybit">
            </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}