{% extends 'base.html' %}
{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
<div class="blog-slider">
<!-- main area start-->
<div class="container">
    <div class="loaction3" ><a href="http://127.0.0.1:8000/information/"> INFORMATION ABOUT SEPSIS </a>
        /<a href="http://127.0.0.1:8000/information4">Educational information for patients</a>
        <br><br>
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30">What you should know?</h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/awareness.jpg" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                   Sepsis affects you throughout your body. These are some examples of how someone’s body reacts when sepsis begins:<br>
                            <ul>
                                <li>Your blood pressure may drop because your blood vessels (the arteries and veins) have dilated,
                                    or have opened a bit wider. Because there is more space to fill, your heart has to work harder to push the blood through at a normal pressure.</li>
                                  <li>Your pulse rate goes higher because your heart is pumping harder and faster to do its work.</li>
                                     <li>You may feel breathless or are breathing quickly.</li>
                                   <li>Your skin may become cold and you may lose color, becoming pale. There may be a an unusual
                                       color or rash, or your skin may become mottled, marked in patterns or patchy in color.</li><p/>
               <p>    As sepsis progresses, your blood pressure may become very low, which means that not enough blood and oxygen can reach your organs.
                   This can lead to organ failure. The kidneys, lungs, brain, and heart are particularly at risk. Signs may be:<br>
                   <li>  A drop in your urine output.</li>
                   <li>Difficulty breathing.</li>
                   <li> Darkening patches on the skin, perhaps blistering.</li>
                   <li>You may become confused, may have lost consciousness.</li>
                   <li>Your body may retain (keep) fluid, which causes swelling all over, making you much bigger than what you normally are. </li>
                   This occurs because the blood vessels may leak, allowing fluid into places it isn t normally, including out of the skin.
                            </ul>
                        </p>
               </div>
            </div>
         </div>
        </div></div>
    </div>
</div>
    </div>
    </div>
<br>
<!--  2nd box starts here-->
 <div class="blog-slider">
<div class="container">
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30">What type of treatment did I get to treat my sepsis?</h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/treatment.png" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                            <h4>Medications</h4><br>
                    You probably received many strong drugs to fight the infection. They may have included antibiotics, anti-fungal or anti-viral drugs,
                            depending on what caused the infection. Sometimes it is necessary for the medical team to try different drugs to find the ones
                            that will best treat your illness, and your condition may have gone up and down as the new drugs were introduced.

                       Other medications may have included analgesics, (painkillers), sedatives, and medications to control your blood pressure.
                        </p>
                    <p>
                            <h4>Machines</h4><br>
                    Different machines may have helped your body’s functions until you were well enough to do these for yourself.
                   These may have included a dialysis machine for your kidneys, a ventilator to help you breath, or a life support machine.
                        </p>
                     <p>
                       <h4>Nutritional Support</h4><br>
                         Aside from the intravenous (IV) lines that give fluid, you may have had a tube through your nose that went down to your stomach.
                          This tube allows the nurses to give you liquid nutrition.
                        </p>

               </div>
            </div>
         </div>
        </div></div>
        </div>
</div>
    </div>


{% endblock %}