{% extends 'base.html' %}
{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
     <br><br>
    <div class="blog-slider">
<!-- main area start-->
<div class="container">
    <div class="loaction3" ><a href="http://127.0.0.1:8000/information/"> INFORMATION ABOUT SEPSIS </a>
        <a href="http://127.0.0.1:8000/information5">Educational information for healthcare and staff</a>
        <br><br>
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30">What can be done by Healthcare providers?</h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/51.jpg" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                            <ul>
                                <li>Prevent infections. Follow infection control requirements (e.g., hand hygiene) and ensure patients receive recommended vaccines (e.g.,  u and pneumococcal).</li>
                                <li> Educate patients and their families. Stress the need to prevent infections, manage chronic conditions, and seek care if signs of severe infection or sepsis are present.</li>
                                <li> Think sepsis. Know sepsis signs and symptoms to identify and treat patients early.</li>
                                <li> Act fast. If sepsis is suspected, order tests to determine if an infection is present, where it is, and what caused it. Start antibiotics and other medical care immediately. Document antibiotic dose, duration, and purpose.</li>
                                <li>Reassess patient management. Check patient progress frequently. Reassess antibiotic therapy 24-48 hours or sooner to change therapy as needed. Be sure the antibiotic type, dose, and duration are correct.</li>
                            </ul>
                        </p>
               </div>
            </div>
         </div>
        </div></div>
    </div>
</div>
    </div>
    </div>
</div>
    </div><br>
<!--  2nd box starts here-->
 <div class="blog-slider">
<div class="container">
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30">What can be done by Health care facility CEOs/administrators?</h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/51.jpg" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                            <ul>
                                <li>Make infection control a priority. Ensure a strong link between infection control and prevention, sepsis early recognition, and appropriate antibiotic use programs.</li>
                                <li>Train healthcare providers and front-line staff to quickly recognize and treat sepsis. </li>
                                <li>Collaborate with health departments and other health care facilities within your area to improve infection control.</li>
                             </ul>
                        </p>
               </div>
            </div>
         </div>
        </div></div>
        </div>
</div>
    </div>
    </div>
</div>
    </div><br>
<!--3rd box starts here-->
          <div class="blog-slider">
<div class="container">
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30">What can be done by and local health departments?</h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/51.jpg" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                            <ul>
                                <li>Promote sepsis prevention and early recognition, vaccination, chronic disease management, and infection prevention in health care facilities and community settings.</li>
                                <li> Review actions other states and organizations have taken to improve sepsis early recognition and treatment.</li>
                            </ul>
                        </p>
               </div>
            </div>
         </div>
        </div></div>
    </div>
</div>
    </div>
    </div>
</div>
    </div>
{% endblock %}