{% extends 'base.html' %}
{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
 <div class="blog-slider">
<div class="container">
    <a href="http://127.0.0.1:8000/information/"> INFORMATION ABOUT SEPSIS </a>
        /<a href="http://127.0.0.1:8000/how_can_i_get_ahead_of_sepsis"> How can I get ahead of sepsis?</a>
        <div class="content">
            <section class="sample-text-area">
            <div class="container box_1170">
                <h2 class="text-heading">How can I get ahead of sepsis?</h2>
            </div>
                <section >
                <div class="container py-lg-5">
                    <div class="w3l_head">
                        <h3 class="heading text-center">1.Prevent infections</h3>
                        <p class="subs mt-4 text-center mx-auto">Talk to your doctor or nurse about steps you can take to prevent infections that can lead to sepsis:</p>
                    </div>
                        <div class="row py-lg-5 py-3 mt-3 text-center">
                                <div class="col-md-6 ">
                                    <img src="/static/img/31.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>Take good care of chronic conditions</h6>
                                    </div></div>

                                <div class="col-md-6  mt-md-0 mt-5 ">
                                    <img src="/static/img/32.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>Get recommended vaccines</h6>
                                    </div></div></div></div>
            </section>
            <section>
                <div class="container py-lg-5">
                    <div class="w3l_head">
                        <h3 class="heading text-center">2. Practice good hygiene</h3></div>
                        <div class="row py-lg-5 py-3 mt-3 text-center">
                                <div class="col-md-6">
                                    <img src="/static/img/33.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>Remember to wash your hands</h6>
                                    </div></div>

                                <div class="col-md-6  mt-md-0 mt-5 ">
                                    <img src="/static/img/34.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>Keep cuts clean and covered until healed</h6>
                                    </div></div></div></div>
            </section>
            <section >
                <div class="container py-lg-5">
                    <div class="w3l_head">
                        <h3 class="heading text-center">3.Signs</h3>
                        <p  class="subs mt-4 text-center mx-auto">Signs of sepsis that your doctor or nurse can measure include any of the following:</p>
                    </div>
                        <div class="row py-lg-5 py-3 mt-3 text-center">
                                <div class="col-md-6 ">
                                    <img src="/static/img/22.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>High heart rate</h6>

                                    </div>
                                </div>

                                <div class="col-md-6  mt-md-0 mt-5 ">
                                    <img src="/static/img/23.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>Fever, shivering, or feeling very cold</h6>
                                    </div></div></div></div>
            </section>
            <section >
                <div class="container py-lg-5">
                    <div class="w3l_head">
                        <h3 class="heading text-center">4.Symptoms</h3>
                        <p  class="subs mt-4 text-center mx-auto">Symptoms of sepsis that you might experience can include a combination of any of the following:</p>
                    </div>
                        <div class="row py-lg-5 py-3 mt-3 text-center">
                                <div class="col-md-6 ">
                                    <img src="/static/img/24.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>Confusion or disorientation</h6>
                                    </div></div>

                                <div class="col-md-6  mt-md-0 mt-5 ">
                                    <img src="/static/img/25.png" alt="image" class="img-fluid">
                                    <div class=" mt-4">
                                        <h6>Shortness of breath</h6>
                                    </div></div>

                        </div>
                        <div class="row py-lg-5 py-3 mt-3 text-center">
                            <div class="col-md-6 ">
                                <img src="/static/img/26.png" alt="image" class="img-fluid">
                                <div class=" mt-4">
                                    <h6>Extreme pain or discomfort</h6>
                                </div>
                            </div>

                            <div class="col-md-6  mt-md-0 mt-5 ">
                                <img src="/static/img/27.png" alt="image" class="img-fluid">
                                <div class=" mt-4">
                                    <h6>Clammy or sweaty skin</h6>
                                </div></div>
                        </div></div></section>

            <div class="container box_1170">
                <h1 class="text-heading">Act fast</h1>
                <p class="sample-text">
                    Get medical care IMMEDIATELY if you suspect sepsis or
                    have an infection that’s not getting better or is getting worse.
                </p>
            </div>
  </section>
        </div>
    </div>
</div>

{% endblock %}