{% extends 'base.html' %}

{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
<!--   write ur code here-->
  <div class="blog-slider">
        Sepsis is a life-threatening condition that occurs when the body's response to infection causes
         tissue damage, organ failure, or death.

        In the U.S., nearly 1.7 million people develop sepsis and 270,000 people die from sepsis each year;
         over one third of people who die in U.S. hospitals have sepsis.
        Internationally, an estimated 30 million people develop sepsis and 6 million people die from sepsis each year;
        an estimated 4.2 million newborns and children are affected.
        Sepsis costs U.S. hospitals more than any other health condition at $24 billion (13% of U.S. healthcare expenses)
        a year, and a majority of these costs are for sepsis patients that were not diagnosed at admission.
        Sepsis costs are even greater globally with the developing world at most risk. Altogether, sepsis is a major public
         health issue responsible for significant morbidity, mortality, and healthcare expenses.

        <br><br>
        <a class="ReadMore" href="#">Read more</a>
</div>


{% endblock %}