{% extends 'base.html' %}
{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
 <div class="blog-slider">
     <div class="container-fluid">
         <div class="service_area gray_bg">
             <div class="row justify-content-center ">
                 <div class="col-lg-4 col-md-6">
                     <div class="single_service d-flex align-items-center ">
                         <a href="http://127.0.0.1:8000/what_is_sepsis">
                             <div class="service_info">
                                 <h4>What is sepsis?</h4>
                                 <p>Know the Risks.  Spot the Signs.  Act Fast</p>
                             </div>
                         </a>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                     <div class="single_service d-flex align-items-center ">
                         <a href="http://127.0.0.1:8000/how_can_i_get_ahead_of_sepsis"><div class="service_info">
                                            <h4>How can I get ahead of sepsis?</h4>
                                            <p>learn the four ways </p>
                                        </div></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_service d-flex align-items-center ">
                                      <a href="http://127.0.0.1:8000/sepsis_diagnosed_and_treatment"> <div class="service_info">
                                        <h4>Sepsis diagnose and treatement?</h4>
                                        <p> Learn it  Quickly</p>

                                    </div></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_service d-flex align-items-center ">
                                        <a href="http://127.0.0.1:8000/educational_info_pt> <div class="service_info">
                                            <h4>Educational Information</h4>
                                            <p>For patients</p>
                                        </div></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_service d-flex align-items-center ">
                                    <a  class=" aa" href="http://127.0.0.1:8000/educational_info_pro"><div class="service_info">
                                        <h4>Educational Information</h4>
                                        <p>For Healthcare Staff</p>
                                    </div></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_service d-flex align-items-center ">
                                        <a href="http://127.0.0.1:8000/sepsis_data_and_reports">
                                            <div class="service_info">
                                                <h4>Clinical Resources ,Data & Reports</h4>
                                                <p> Guidelines</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <br><br>


                            </div>
                        </div>
                    </div>

                    </div>

{% endblock %}