{% extends 'base.html' %}
{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
   <br><br>
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30"> Clinical Resources, Data and Reports </h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/51.jpg" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                            <ul>
                   <li> Sepsis begins outside of the hospital for nearly 80% of patients. </li>
                   <li> A CDC evaluation found 7 in 10 patients with sepsis had recently used
                        health care services or had chronic diseases requiring frequent medical care. </li>
                   <li> Four types of infections are most often associated with sepsis: lung, urinary tract, skin, and gut. </li>

                              </ul>
                        </p>
               </div>
            </div>
         </div>
        </div></div>
    </div>
</div>
    </div>
    </div>
</div>
    </div><br>
<!--  2nd box starts here-->
 <div class="blog-slider">
<div class="container">
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30"> Sepsis is deadly when it’s not quickly recognized and treated </h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/51.jpg" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                            <ul>
                                <br> Certain people with an infection are more likely to get sepsis.<br>
                                <li>•	CDC evaluation found more than 90% of adults and 70% of children
                                        who developed sepsis had a health condition that may have put them at risk..</li>
                                <li> •	Sepsis occurs most often in people 65 years or older or younger than 1 year, with
                                        weakened immune systems, or with chronic medical conditions. </li>
                                <li>•	While less common, even healthy infants, children, and adults can develop sepsis
                                        from an infection, especially when not treated properly.</li>
                             </ul>
                        </p>
               </div>
            </div>
         </div>
        </div></div>
        </div>
</div>
    </div>
    </div>
</div>
    </div><br>
<!--3rd box starts here-->
          <div class="blog-slider">
<div class="container">
        <div class="content"> <div class="whole-wrap">
            <div class="container box_1170">
            <div class="section-top-border">
            <h3 class="mb-30"> Estimates: </h3><br>
            <div class="row">
               <div class="col-md-2">
                  <img src="/static/img/51.jpg" alt="image" class="img-fluid">
               </div>
               <div class="col-md-10 mt-sm-20">
                        <p>
                            <ul>
                                <li> Each year, at least 1.7 million adults in America develop sepsis.</li>
                                <li> Nearly 270,000 Americans die as a result of sepsis. </li>
                                <li> 1 in 3 patients who die in a hospital have sepsis. </li>
                                <li> These estimates were developed using claims data from the CMS DataLink
                                    Project, which includes multiple databases containing claims, payments,
                                    and outcomes data. This data relies on the presence of any sepsis
                                    diagnosis code, which is assigned by medical billing codes after patients
                                    are discharged. Variation in coded data can be due to differences in hospital
                                    coding practices and because of the increasing awareness of sepsis over time. </li>
                            </ul>
                        </p>
               </div>
            </div>
         </div>
        </div></div>
    </div>
</div>
    </div>
    </div>
</div>
    </div>
{% endblock %}