{% extends 'base.html' %}
{% block title %}Early Sepsis Detection Challenge {% endblock %}

{% block content %}
 <div class="blog-slider">

<div class="container">

    <div class="loaction3" ><a href="http://127.0.0.1:8000/information/"> INFORMATION ABOUT SEPSIS </a>/

        <a href="http://127.0.0.1:8000/what_is_sepsis">What is sepsis?</a>

        <div class="content">

        <section class="sample-text-area">

            <div class="container box_1170">

                <h3 class="text-heading">What is sepsis?</h3>

                <p class="sample-text">

                    <p>"Know the Risks.  Spot the Signs.  Act Fast."

                    </p><br>

                    Sepsis is the body’s extreme response to an infection. It is a life-threatening medical emergency.<br><br>

                <p>Sepsis happens when an infection you already have —in your skin,

                 lungs, urinary tract, or somewhere else—triggers a chain reaction throughout your body.</p><br>

                   Without timely treatment, sepsis can rapidly lead to tissue damage, organ failure, and death.

                </p>

            </div>

        </section>

        <section class="sample-text-area">

            <div class="container box_1170">

                <h3 class="text-heading">What causes sepsis?</h3>

                <p class="sample-text">

                    When germs get into a person’s body,

                    they can cause an infection. If that infection isn’t stopped,

                    it can cause sepsis.

                </p></div>

            <section >

                <div class="container py-lg-5">

                    <div class="w3l_head">

                        <h3 class="heading text-center">What are the signs & symptoms?</h3>

                        <p class="subs mt-4 text-center mx-auto">A patient with sepsis might have one or more of the following signs or symptoms:</p></div>

                        <div class="row  py-lg-5 py-3 mt-3 text-center">

                                <div class="col-md-4 ">

                                    <img src="/static/img/22.png"  alt="image" class="img-fluid">

                                    <div class=" mt-4">

                                        <h6>High heart rate</h6>

                                    </div></div>

                                <div class="col-md-4 mt-md-0 mt-5">

                                    <img src="/static/img/23.png" alt="image" class="img-fluid">

                                    <div class="mt-4">

                                        <h6>Fever, shivering, or feeling very cold</h6>

                                    </div></div>

                                <div class="col-md-4  mt-md-0 mt-5 ">

                                    <img src="/static/img/24.png" alt="image" class="img-fluid">

                                    <div class=" mt-4">

                                        <h6>Confusion or disorientation</h6>

                                    </div></div>

                        </div>

                        <div class="row py-lg-5 py-3 mt-3 text-center">

                            <div class="col-md-4">

                                <img src="/static/img/25.png" alt="image" class="img-fluid">

                                <div class=" mt-4">

                                    <h6>Shortness of breath</h6>

                                </div>

                            </div>

                            <div class="col-md-4 mt-md-0 mt-5 ">

                                <img src="/static/img/26.png" alt="image" class="img-fluid">

                                <div class="mt-4">

                                    <h6>Extreme pain or discomfort</h6>

                                </div>

                            </div>

                            <div class="col-md-4  mt-md-0 mt-5 ">

                                <img src="/static/img/27.png" alt="image" class="img-fluid">

                                <div class=" mt-4">

                                    <h6>Clammy or sweaty skin</h6>

                                </div></div>

                        </div>

                        </div>

            </section>

            <section >

                <div class="container py-lg-5">

                    <div class="w3l_head">

                        <h3 class="heading text-center">Who is at risk?</h3>

                        <p class="subs mt-4 text-center mx-auto">Anyone can get an infection and almost any infection can lead to sepsis. Certain people are at higher risk:</p>

                    </div>

                        <div class="row py-lg-5 py-3 mt-3 text-center">

                                <div class="col-md-4 ">

                                    <img src="/static/img/img1.png" alt="image" class="img-fluid">

                                    <div class=" mt-4">

                                        <h6>Adults 65 or older and children younger than one</h6>

                                    </div>

                                </div>

                                <div class="col-md-4 mt-md-0 mt-5 ">

                                    <img src="/static/img/img2.png" alt="image" class="img-fluid">

                                    <div class="mt-4">

                                        <h6>People with chronic medical conditions, such as diabetes, lung disease, cancer, and kidney disease</h6>

                                    </div>

                                </div>

                                <div class="col-md-4  mt-md-0 mt-5 ">

                                    <img src="/static/img/img3.png" alt="image" class="img-fluid">

                                    <div class=" mt-4">

                                        <h6>People with weakened immune systems</h6>

                                    </div></div>

                        </div></div>

            </section>

            <div class="container box_1170">

                <h3 class="text-heading">I think I might have sepsis. What should I do?</h3>

                <p class="sample-text">

                    If you are feeling worse or not getting better

                    in the days after surgery, ask your healthcare professional, “

                    Could this be sepsis?”<br><br>

                    Similarly, if you have an infection that is not getting better or

                    is getting worse, ask your healthcare professional,

                    “Could this infection be leading to sepsis?”

                </p></div>

  </section>

        </div>

    </div>

</div>
 </div>
{% endblock %}